ion-content{
    height: 30%;
}

ion-card-header.ios {
    text-align: center;
    display: flex;
    flex-flow: column-reverse;
  }

  ion-card-content{
    text-align: center;
  }

  ion-card-header{
    text-align: center;
  }
