
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-item>
     <h1>Identify The Dog</h1> 
    </ion-item>
  </ion-header>

  <ion-item>
    <div id="image">
  <ion-img src="{{message}}" alt="Dog"></ion-img>
  </div>
  </ion-item>

  <div id="container">
    <br>
    <br>
    
    <ion-item>
      <ion-label position="fixed">Enter Name:</ion-label>
      <ion-input placeholder="John Doe" [(ngModel)]="name"></ion-input>
  </ion-item>
    <br>
    <ion-button shape="round" (click)="generate()">Identify</ion-button>
  </div>
</ion-content>
